# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Build
build/
*.o
*.linkmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Other
.env
.DS_Store
